<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferedSearchServer</key>
	<string>FR</string>
	<key>ReloadSearchOnArgsChange</key>
	<false/>
	<key>SaveSearchArgs</key>
	<false/>
	<key>SaveOutputFolder</key>
	<false/>
	<key>OutputFolder</key>
	<string></string>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>EnableGrowlNotifications</key>
	<false/>
</dict>
</plist>
